<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
<!--	<header>-->
<!--		<img src=" " width="150px">-->
<!--&lt;!&ndash;        <img src="./static/adn.jpg" width="150px">&ndash;&gt;-->
<!--	</header>-->
	<button id="btn">☰</button>
		<nav id="nav">
            <ul> 
            	<li> <a href="https://www.linkedin.com/company/adncorp/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li> <a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li> <a href="" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				<li> <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    <div class="showcase container purple lighten-3">
	<div class="row">
		<div class="col 12 m10 offset-ml center">
			<h2 class="title" align="center"> Credit Scoring Model </br>With Machine Learning </h2>
		</div>
	</div>
	</div>
	<div class="desc" align="center">
		<ul>
			<li class="btn"><a href="{{url_for('index')}}">Analyse</a></li>
			<li class="btn"><a href="{{url_for('news')}}">Decription</a></li>
			<li class="btn"><a href="{{url_for('index')}}">Contact</a></li>
		</ul>
	</div>
</body>
</html>
